@charset "UTF-8";
/* Kontakt stylesheet*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

	/*Style - Container*/
.container{
	display:flex;
	width: 1250px;
	flex-wrap: wrap;
	justify-content: space-around;
    margin-left: auto;
	margin-right: auto;
			
		}
		

		/*Style - Body*/
body{
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 1px;
	}


		/*fætlles styling af elle class=item*/
	   .item{
			margin-top:10px;/*giver luft mellem elementeren i toppen*/
			text-align: center;/*for at få teksten stillet centralt*/
			padding-top:8px;
		}


		/*Style - Logo*/
.logo{
	height: 100px;
	width: 19%;
		}
		


		/*Style - Navigationen*/
.nav{
	width: 65%;
	font-size: 40px;
	margin-top:30px;
	margin-right: 20px;
         }
        
.nav a{
	color: #FF9E02;
	margin-top:70px;
	text-decoration: none;
	padding:10px;
	float: right;
         }
         
		
nav a:hover{
	 color:gray;
	    }

a:active{
	color:#484848;
	   }
		

		/*Style - footer*/
footer{
	width:99%;
	height: 60px;
			
	}
		
.copy{
	font-weight: lighter;
    font-size: 20px;
    }


h1{
	font-size: 50px;
}


form{ 
	margin-right: 490px;
		    width: 650px;
			margin-left: 490px;
	        margin-top: 5px; 
			padding: 20px;
	        background-color: #D2D2D2;
	        border-radius: 6px;
		}
		
input[type=text], select, textarea {
    width: 90%; 
    padding: 14px;   
    border: 1px solid #ccc; 
    border-radius: 6px; 
    box-sizing: border-box; 
    margin-top: 10px; 
    margin-bottom: 16px;
    resize: vertical 
}
		
input[type=email],select, textarea{
	width: 90%; 
    padding: 14px;   
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=submit] {
    background-color: #FF9E02;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

input[type=submit]:hover {
    background-color:#6B6B6B;
}


.social{
	margin-left: 5px;
	margin-right: 5px;
}

		

		
