@charset "UTF-8";
/* Projekt stykesheet*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

	/*Style - Container*/
.container{
	display:flex;
	width: 1250px;
	flex-wrap: wrap;
	justify-content: space-around;
    margin-left: auto;
	margin-right: auto;
			
		}
		

		/*Style - Body*/
body{
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 1px;
	}


		/*fætlles styling af elle class=item*/
	   .item{
			margin-top:10px;/*giver luft mellem elementeren i toppen*/
			text-align: center;/*for at få teksten stillet centralt*/
			padding-top:8px;
		}


		/*Style - Logo*/
.logo{
	height: 100px;
	width: 19%;
		}
		


		/*Style - Navigationen*/
.nav{
	width: 65%;
	font-size: 40px;
	margin-top:30px;
	margin-right: 20px;
         }
        
.nav a{
	color: #FF9E02;
	margin-top:70px;
	text-decoration: none;
	padding:10px;
	float: right;
         }
         
		
nav a:hover{
	 color:gray;
	    }

a:active{
	color:#484848;
	   }
		





article{
	width: 80%;
}

.img{
	margin-right: 40px;
	box-shadow: 1px 5px 5px #666;
}

h1{
	font-size: 60px;
	margin-top: 15px;
	margin-bottom: 15px;
	color:#484848;
	}
h1:hover{
	color: #FF9E02;
}

a{
	text-decoration: none;
}

.find{
	margin-top: 30px;
}






/*Footer*/

footer{
	width:99%;
	height: 60px;
			
	}
.tilbage{
	display: block;
	margin-bottom: 20px;
}
.social{
	margin-left: 5px;
	margin-right: 5px;
}
		
.copy{
	font-weight: lighter;
    font-size: 20px;
    }

		

		
