@charset "UTF-8";
/* Main portfolio styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
body{
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 1px;
	}

*{
	margin: 0;
	padding:0;
	border:none;
}


/*Style - Home*/
.container{
	display: flex;
	width: 60%;
	justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
	margin-top:20px;
}

.logo{
	align-items: left;
}

nav{
	display:block;
	height: 60px;
	align-items: center;
	width: 100%;
	float: right;
}


nav a{
	width: 10%;
	background-color: none;
	text-align: right;
	text-decoration: none;
	font-size: 30px;
	color:#FF9E02;
	padding:10px;
	float: right;
	margin-top:98px;
}

nav a:hover{
	color:gray;
	}
a:active{
	color:#484848;
	}


.clearfix{
		clear: right;
	}

#forside{
	font-size: 150px;
	font-weight: lighter;
	color:#FF9E02;
	text-align: center;
	margin-left: 180px;
	margin-right: 180px;
}




h1{
	text-align: center;
	font-weight: bold;
	font-size: 50px;
}

/*Styles - Projekter*/	

.projektcontainer{
	display: flex;
	width: 80%;
    margin-left: 180px;
    margin-right: 180px;
	margin-top:20px;
	flex-wrap: wrap;
	justify-content: flex-start;
	
}


.redigeretbro{
	margin-left: 180px;
	margin-top: 10px;
}

.orginalbro{
	margin-left: 180px;

}

p, h2{
	margin-left: 180px;
	float: right;
}



/*Style - Galleri*/

.galleritekst{
	background-color: aqua;
	display: block;
	
	
}

.gallericontainer{
	width: 80%;
    margin-left: 180px;
    margin-right: 180px;
	margin-top:20px;
	align-content: center;
}

* {
    box-sizing: border-box;
	}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
	
}


@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}


@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}


/*Style - Omkring*/

.omkringmig{
	margin-right: 400px;
	margin-top: 30px;
}

.imgmig{
	margin-left: 350px;
	margin-top: 30px;
}





/*STyle - bundknap*/

.tilbage {
	color: white;
	font-size: 20px;
	background-color: #FF9E02;
	text-decoration: none;
	text-align: center;
	display: block;
	margin-top: 170px;
	margin-left: 770px;
	margin-bottom: 40px;
	width: 80px;
	padding: 15px 25px;
	border-radius: 4px;
	transition: .2s ease;
}

.tilbage:hover {
	background-color: #6B6B6B; 
}



/*Style - footer*/

footer {
	position: absolute;
	bottom: 5px;
	font-size: 12px;
	width: 100%;
	text-align: center;
}

.copy{
	display: block;
	margin-left: 520px;
	margin-top: 40px;
	
}

.social{
	display: block;
	align-items: flex-end;
	float: right;
}
.mail{
	margin-right: 315px;
}

.insta{
	margin-right: 5px;
}

.facebook{
	margin-right: 5px;
}
